<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>totalPlayCount</key>
	<integer>0</integer>
	<key>sweepBombCount</key>
	<integer>0</integer>
	<key>cancelCount</key>
	<integer>0</integer>
	<key>winCount</key>
	<integer>0</integer>
	<key>level0</key>
	<array>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
	</array>
	<key>level1</key>
	<array>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
	</array>
	<key>level2</key>
	<array>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>xhan</string>
			<key>date</key>
			<date>2009-12-08T15:01:42Z</date>
			<key>time</key>
			<integer>9999</integer>
		</dict>
	</array>
</dict>
</plist>
